/* home */
.country .image_flag_small_info{
    height: 60%;
 }

 /* single country */
 .flag-out{
    height: 100%;
    border-left: solid 16px rgb(117, 117, 117);
 }

 .flag{
    height: 50%;
    width: 100%;
 }
 .flag img{
    height: 100%;
    width: inherit;
 }

 .country_single a{
   text-decoration: none;
 }