*{
    box-sizing: border-box;
}

header{
    height: 80px;
    background: rgb(183, 215, 233);
}

footer{
    height: 60px;
    background: rgb(183, 215, 233);
}


/* main {
    height: 80vh;
} */

main .container-info{
    height:85vh;
}

main .container {
    height: 100%;
}


/* home */
.country .image_flag_small_info{
    height: 60%;
 }

 /* single country */
 .flag-out{
    height: 100%;
    border-left: solid 16px black;
 }

 .flag{
    height: 50%;
    width: 100%;
 }
 .flag img{
    height: 100%;
    width: inherit;
 }