*{
  box-sizing: border-box;
}

.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

header{
  height: 9vh;
  background: rgb(183, 215, 233);
}

header .logo img {
  max-height: 9vh;
}

header nav li a {
  text-decoration: none;
}

main {
  min-height: 85vh;
  background-image: url(../images/map.jpg);
  background-position: center;
  /* background-size: cover; */
}

main .container-info{
  height:80vh;

}

main .container {
  height: 100%;
}

footer{
  height: 6vh;
  background: rgb(183, 215, 233);
}
